# env
.env
# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]

# Base de datos (por si alguna vez usas SQLite)
*.sqlite3

# Archivos de configuración de VS Code o IDEs
.vscode/
.idea/
bin/
lib/
include/
pyvenv.cfg
