# 1. Ignorar el entorno virtual de Python (las carpetas específicas)
/bin/
/include/
/lib/
/lib64
/pyvenv.cfg
venv/
env/

# 2. Ignorar archivos temporales de Python (en cualquier subcarpeta)
**/__pycache__/
*.py[cod]

# 3. Ignorar la Base de Datos y Variables de Entorno
*.sqlite3
.env
backend/.env

# 4. Ignorar IDEs
.vscode/
.idea/
